.grandfather {
  background: black;
  width: 400px;
  height: 400px;
  padding: 70px 50px 30px 50px;
  margin: 5% auto;
}

.parent {
  background: darkgrey;
  width: 100%;
  height: 100%;
  padding: 1% 0;
}

.child {
  position: relative;
  background: grey;
  width: 80%;
  height: 80%;
  margin: 16% 10% 4% 10%;
}

.grandchild {
  background: lightgrey;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 23%;
}